SUPABASE_URL=https://qgvhdcgpfokmesnuwcsb.supabase.co
SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InFndmhkY2dwZm9rbWVzbnV3Y3NiIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NzQwMDEwNjIsImV4cCI6MjA4OTU3NzA2Mn0.3votmBmfrYBLTgC4cgNd8BsEpYISeqy4aAqSYg_O0po
SUPABASE_SERVICE_ROLE_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InFndmhkY2dwZm9rbWVzbnV3Y3NiIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc3NDAwMTA2MiwiZXhwIjoyMDg5NTc3MDYyfQ.SbGJpie23S9v2nObAC6vcr5phomWQVLQKHJ_wH-CVSs
WEARVIO_ADMIN_EMAIL=admin@wearvio.com
WEARVIO_ADMIN_PASSWORD= adminAccess@1234!
WEARVIO_ADMIN_NAME=Wearvio Owner
WEARVIO_ADMIN_SESSION_SECRET=afDes3eWDRFG2waWertgtLFSCDwasfESQW43WDRFG2wagFFdasSWQ
